services:
  neo4j:
    image: neo4j:5
    ports:
      - "7476:7474"
      - "7689:7687"
    environment:
      NEO4J_AUTH: "neo4j/password"
      NEO4J_dbms_security_procedures_unrestricted: "db.index.vector.queryNodes,db.index.fulltext.queryNodes"
      NEO4J_dbms_security_procedures_allowlist: "db.index.vector.queryNodes,db.index.fulltext.queryNodes"
    volumes:
      - neo4j_data:/data
volumes:
  neo4j_data:
